Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # İlk açılışta kurulum sihirbazına yönlendir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
